<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo Management App</title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="my-app.css">

</head>

<body>
  <h1>
    My Todo-list
  </h1>
  <article>
    <section>
      <h2>Due Today</h2>
      <p>Submut saas 201 project</p>
    </section>
    <section>
      <h2>Due Tomorrow</h2>
      <p>Refill groceries</p>
    </section>
  </article>
</body>

</html>
